body {
  background-color: #FAEDE0;
  font-family: Helvetica, HiraKakuProN-W3, sans-serif;
  line-height:1.4;
  padding:0px;
  margin: 0px;
}

a, a:link, a:visited{
  color: #32E;
  text-decoration: none;
  border-bottom: 1px dotted #98F;
}
a:hover{
  color: #32E;
  text-decoration: underline;
}
a:active{
  color: white;
  background-color: #32E;
}

a.button{
  font-weight: bold;
  border: 1px solid #F2CFCF;
  background-color: #F2D6D7;
  padding: 4px 10px;
  margin: 2px 3px;
  -moz-border-radius:    7px;
  -webkit-border-radius: 7px;
}
a.button:active{
  color: white;
  background-color: #32E;
}

h1 {
  margin: 1px;
}

h2 {
  margin: 1px;
}

.textright {
  text-align: right;
}

.lefty {
  float: left;
}

.clear {
  clear: both;
}

/* --- menu -- */

#docs_menu {
  margin: 0px 0px 0px 0px;
  padding: 6px 0px 8px 4px;
  background: -moz-linear-gradient(top, #E7CFD3, #FAEDE0);　/* Firefox用 */
  background: -webkit-gradient(linear, left top, left bottom, from(#E7CFD3), to(#FAEDE0));　
}

#docs_menu p {
  margin: 0px;
}

#docs_menu h1 {
  font-size: 120%;
  margin: 0px 0px 4px 0px;
  padding: 4px 12px 0px 12px;
}

#docs_menu h2 {
  font-size: 120%;
  margin: 5px 6px;
}

.docs_message span {
  padding: 3px 8px;
  background-color: #FFEE88;
}


/* -- body -- */

#docs{
  margin: 0px 0px 10px 0px;
}

#docs p{
  margin: 1px;
}

#docs small{
  font-size: 90%;
}

#docs h3{
  margin: 0px 10px;
}

#docs .doc{
  margin: 5px 2px 10px 0px;
}

#docs .content{
  margin: 0px 10px;
}

#docs .docs_body{
  margin: 5px 5px;
}

#docs textarea {
  font-size: 100%;
  margin: 0px;
  padding: 4px;
  width: 98%;
  border: 0 none;
  background-color: white;
}


/* -- account -- */
#account {
  font-size: 90%;
}

#account p {
  margin:0px;
}


