body {
  font-family: Helvetica, HiraKakuProN-W3, sans-serif;
  padding:0px;
  margin: 0px;
}

h1 {
  margin: 1px;
}

h2 {
  margin: 1px;
}

.lefty {
  float: left;
}

.clear {
  clear: both;
}

/* --- menu -- */

#docs_menu {
  margin: 0px 0px 4px 0px;
}

#docs_menu h1 {
  font-size: 120%;
  margin: 0px 10px;
}

#docs_menu h2 {
  font-size: 120%;
  margin: 5px 8px;
}

#docs_message span {
  background-color: #FFEE55;
}


/* -- body -- */

#docs{
  margin: 0px 0px 10px 0px;
}

#docs p{
  margin: 1px;
}

#docs h3{
  margin: 0px 10px;
}

#docs .doc{
  margin: 11px 1px;
}

#docs .content{
  margin: 0px 10px;
}

#docs .docs_body{
  margin: 0px 5px;
}

#docs textarea {
  margin: 0px auto;
  width: 100%;
  border: 0 none;
  background-color: #FFFFDD;
}


/* -- account -- */
#account {
  font-size: 90%;
  background-color: #DDD;
}

#account p {
  margin:0px;
}


