body {
  font-family: Helvetica, HiraKakuProN-W3, sans-serif;
  line-height:1.4;
  padding:0px;
  margin: 0px;
}


a, a:link, a:visited{
  color: #32E;
  text-decoration: none;
  border-bottom: 1px dotted #98F;
}
a:hover{
  color: #32E;
  text-decoration: underline;
}
a:active{
  color: #43F;
}

a.button h2{
  background-color: #E9E9E9;
  padding: 0px 8px;
  -moz-border-radius:    7px;
  -webkit-border-radius: 7px;
}

h1 {
  margin: 1px;
}

h2 {
  margin: 1px;
}

.textright {
  text-align: right;
}

.lefty {
  float: left;
}

.clear {
  clear: both;
}

/* --- menu -- */

#docs_menu {
  margin: 0px 0px 4px 0px;
}

#docs_menu p {
  margin: 0px;
}

#docs_menu h1 {
  background-color: #E9E9E9;
  font-size: 120%;
  margin: 0px;
  padding: 0px 12px;

  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius:  10px;
  -moz-border-radius-bottomright:     10px;
  -moz-border-radius-bottomleft:      10px;
}

#docs_menu h2 {
  font-size: 120%;
  margin: 5px 6px;
}

#docs_message span {
  background-color: #FFEE55;
}


/* -- body -- */

#docs{
  margin: 0px 0px 10px 0px;
}

#docs p{
  margin: 1px;
}

#docs h3{
  margin: 0px 10px;
}

#docs .doc{
  margin: 11px 1px;
}

#docs .content{
  margin: 0px 10px;
}

#docs .docs_body{
  margin: 5px 5px;
}

#docs textarea {
  margin: 0px;
  padding: 9px;
  width: 100%;
  border: 0 none;
  background-color: #F1F1F1;
}


/* -- account -- */
#account {
  font-size: 90%;
}

#account p {
  margin:0px;
}


