#docs #doc_holder textarea {
  padding: 2px;
}

#docs .content{
  margin: 0px 3px;
}

@media screen and (max-width: 320px)
{
  #cssiphone:before {
    content: "iphone portrait "
  }
}

@media screen and (min-width: 321px)
{
  #cssiphone:before {
    content: "iphone landscape "
  }
}
