#docs p.docs_body {
  font-size: 80% !important;
}

#docs textarea {
  font-size: 80% !important;
  padding: 1px;
}

#docs .content{
  margin: 0px 3px;
}

@media screen and (max-width: 320px)
{
  #cssiphone:before {
    content: "iphone portrait "
  }
}

@media screen and (min-width: 321px)
{
  #cssiphone:before {
    content: "iphone landscape "
  }
}
